extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    #form-group
      label Nome de Usuario:
      input.form-control(name='username',type='text')
    #form-group
      label Senha:
      input.form-control(name='password',type='password')
    br
    input.btn.btn-primary(type='submit',value='Submit')
