extends layout

block content
  h1 Registre-se
  form(method='POST', action='/users/register')
    #form-group
      label Nome Completo:
      input.form-control(name='name', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Nome de usuário:
      input.form-control(name='username',type='text')
    #form-group
      label Senha:
      input.form-control(name='password',type='password')
    #form-group
      label Confirmar senha:
      input.form-control(name='password2',type='password')
    br
    input.btn.btn-primary(type='submit',value='Submit')
    a.btn.btn-danger(href='/', class='cancel') Cancelar 

    
